---
layout : default-project
id : shareco
title : title.shareco

keywords : 
description : 
---
<!-- DESIGN PROCESS -->
<!-- user problems -->
<div class="container60">
    <div class="Grid Grid--center">
        {% for i in (1..5) %}
        <div class="problem">
            <div class="Grid Grid--center Grid--middle problem-hover">
                <h5>{% t shareco.problem-{{i}} %}</h5>
            </div>
            <img src="{{ site.baseurl_root }}/img/shareco/problems/problem_{{i}}.png" />
        </div>
        {% endfor %}  
    </div>
    <p class="note">{% t shareco.problem-note %}: </p>
    <p class="note">{% t shareco.problem-1 %}, {% t shareco.problem-2 %}, {% t shareco.problem-3 %}, {% t shareco.problem-4 %}, {% t shareco.problem-5 %}</p>
</div>
<div class="block10vh"></div>
<!-- problem background -->
<div class="container60">
    <div class="Grid">
        <div class="flex70-left">
            <h4>{% t shareco.problem-text-1 %}</h4>
            <h4>{% t shareco.problem-text-2 %}</h4>
        </div>
        <div class="flex30"></div>
    </div>
</div>
<div class="block10vh"></div>
<!-- research ana analysis -->
<div class="container60">
    <img src="{{ site.baseurl_root }}/img/shareco/compitetors.jpg" />
    <div class="block10vh"></div>
    <img src="{{ site.baseurl_root }}/img/shareco/survey.jpg" />
    <div class="block10vh"></div>
    <div class="target-group">
        <img src="{{ site.baseurl_root }}/img/shareco/target_group.jpg" />
        <p class="note">{% t shareco.target-group-note %}</p>
    </div>
</div>
<div class="block10vh"></div>
<!-- goal -->
<div class="container60">
    <div class="Grid">
        <div class="flex70-left">
            <h3>{% t shareco.goal-title %}</h3>
            <h4>{% t shareco.goal-text %}</h4>
        </div>
        <div class="flex30"></div>
    </div>
    <div class="block10vh"></div>
</div>
<!-- carousel : requirements -->
<div class="container60 extend-left Grid">
    <div class="Grid-cell project-carousel">
        {% include carousel/shareco-requirements.html %}
    </div>
    <p class="note flex30">{% t shareco.goal-note %}</p>
</div>

<div class="hr hr-60"></div>

<!-- DESIGN RESULT -->
<div class="container60">
    <img src="{{ site.baseurl_root }}/img/shareco/sketch.jpg" />
    <div class="block20vh"></div>
    <!-- result text -->
    <div class="Grid">
        <div class="flex70-left">
            <h3>{% t shareco.result-title %}</h3>
            <h4>{% t shareco.result-text-1 %}</h4>
            <h4>{% t shareco.result-text-2 %}</h4>
        </div>
        <div class="flex30"></div>
    </div>
    <div class="block10vh"></div>
    <!-- product -->
    <img src="{{ site.baseurl_root }}/img/shareco/result_product.jpg" />
    <div class="block10vh"></div>
    <!-- scenarios -->
    <img src="{{ site.baseurl_root }}/img/shareco/result_scenarios.jpg" />
    <div class="block10vh"></div>
    <!-- ui use cases -->
    {% include carousel/shareco-use-cases.html %}
    <div class="block10vh"></div>
</div>
<!-- ui mockups -->
<div class="ui-container">
    <div class="container60 Grid Grid--center Grid--middle" style="height: 100%;">
        <img src="{{ site.baseurl_root }}/img/shareco/result_app.png">
    </div>
</div>
<!-- REFLECTION -->
<!--div class="block20vh"></div>
<div class="container60">
    <div class="Grid">
        <div class="flex50">
            <h6>{% t shareco.reflection %}</h6>
            <h3>{% t shareco.reflection-title %}</h3>
            <h4>{% t shareco.reflection-text %}</h4>
        </div>
        <div class="flex50">
            <img src="{{ site.baseurl_root }}/img/shareco/reflection.jpg" />
        </div>
    </div>
</div-->