---
layout : default-project
id : yumiwi
title : title.yumiwi

keywords : 
description : 
---
<!-- DESIGN PROCESS -->
<!-- competitors analysis -->
<div class="container60">
    <div class="Grid">
        <div class="flex50">
            <h3>{% t yumiwi.compitetors-title %}</h3>
            <h4>{% t yumiwi.compitetors-text-1 %}</h4>
            <h4>{% t yumiwi.compitetors-text-2 %}</h4>
        </div>
        <div class="flex50 Grid-column Grid-column--middle">
        <img src="{{ site.baseurl_root }}/img/yumiwi/competitors.jpg" />
        <p class="note" style="margin-top: 20px; text-align: center;">{% t yumiwi.compitetors-note %}</p>
        </div>
    </div>
</div>
<div class="block20vh"></div>
<!-- carousel : personas, user journey -->
<div class="container60 extend-left Grid">
    <div class="extend-container Grid-cell project-carousel">
        {% include carousel/yumiwi-persona.html %}
    </div>
    <p class="note flex30">{% t yumiwi.persona-note %}</p>
</div>
<div class="block10vh"></div>
<!-- carousel : use cases -->
<div class="container60 extend-left Grid">
    <div class="extend-container Grid-cell project-carousel">
        {% include carousel/yumiwi-use-cases.html %}
    </div>
    <p class="note flex30">{% t yumiwi.usecase-note %}</p>
</div>  
<div class="block20vh"></div>
<!-- concept model & stakeholders: supports -->
<div class="container60">
    <div class="Grid Grid--middle">
        <div class="flex50">
            <h3>{% t yumiwi.concept-model-title %}</h3>
            <h4>{% t yumiwi.concept-model-text-1 %}</h4>
            <h4>{% t yumiwi.concept-model-text-2 %}</h4>
        </div>
        <div class="flex50">
            <img src="{{ site.baseurl_root }}/img/yumiwi/concept_model.jpg" />
        </div>
    </div>
</div>
<div class="block20vh"></div>
<!-- paper prototypes, wireframes and styleguides -->
<div class="container60">
    <img src="{{ site.baseurl_root }}/img/yumiwi/styleguides.jpg" />
    <p class="note" style="margin-top: 20px;">{% t yumiwi.styleguides-note %}</p>
</div>
    
<div class="hr hr-60"></div>

<!-- DESIGN RESULT -->
<!-- prototypes -->
<div class="container60 Grid devices-container">
    <div class="flex70-left">
        <img src="{{ site.baseurl_root }}/img/yumiwi/result.jpg" />
        <p class="note" style="margin-top: 10px; text-align: center;">{% t yumiwi.result-note %}</p>
    </div>
    <div class="flex30 result-text">
        <h3>{% t yumiwi.result-title %}</h3>
        <h4>{% t yumiwi.result-text %}</h4>
    </div>
</div>
<div class="block20vh"></div>
<!-- videos -->
<div class="video-container Grid Grid--center Grid--middle">
    <video id="yumiwi-video" class="container60" controls poster="{{ site.baseurl_root }}/img/yumiwi/video.jpg">
        <source src="{{ site.baseurl_root }}/img/yumiwi/video.mp4" type="video/mp4">
    </video>
</div>
<div class="block20vh"></div>
<!-- mockups -->
<img src="{{ site.baseurl_root }}/img/yumiwi/mockups.jpg" />