<script>
    // When the DOM is ready, run this function
    $( document ).ready(function() {
        $('.requirements-carousel').carousel({
            pauseOnHover: true,
            interval: 2000
        });
    });
</script>
    
<div id="shareco-requirements">
    <div class="requirements-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <img class="item Grid-column active" src="{{ site.baseurl_root }}/img/shareco/requirements/requirement_all.jpg" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/shareco/requirements/requirement_product.jpg" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/shareco/requirements/requirement_platform.jpg" />
        </div>
    </div>
</div>