<script>
    // When the DOM is ready, run this function
    $( document ).ready(function() {
        $('.use-cases-carousel').carousel({
            pauseOnHover: true,
            interval: 3000
        });
    });
</script>
    
<div id="yumiwi-use-cases">
    <div class="use-cases-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <img class="item Grid-column active" src="{{ site.baseurl_root }}/img/yumiwi/use_cases/use_case_1.png" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/yumiwi/use_cases/use_case_2.png" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/yumiwi/use_cases/use_case_3.png" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/yumiwi/use_cases/use_case_4.png" />
            <img class="item Grid-column" src="{{ site.baseurl_root }}/img/yumiwi/use_cases/use_case_5.png" />
        </div>
    </div>
</div>