<div id="footer" class="Grid Grid--center Grid--middle">
    <div id="footer-text" class="Grid Grid--middle">
        <a class="footer-web" href="mailto: {{ site.email }}">
            <h6 class="text-hover">kuanju.bondes@posteo.de</h6>
        </a>
        <h6 class="footer-web" style="margin: 0 20px 0 10px;"> | </h6>
        <h6>© <span id="theYear"></span> KJ Bondes</h6>
        <h6 class="footer-web" style="margin: 0 20px;"> | </h6>
    </div>
    <div id="footer-icons" class="Grid Grid--center">
        <a href="{{ site.linkedin }}" target="_blank">
            <div class="icon-linkedin icon50-r icon-hover"></div>
        </a>
        <a href="{{ site.xing }}" target="_blank">
            <div class="icon-xing icon50-r icon-hover"></div>
        </a>
        <a href="mailto: {{ site.email }}">
            <div class="icon-mail icon50-r icon-hover"></div>
        </a>
    </div>
</div>

<!-- getYear for footer -->
<script type="text/javascript">
    var now = new Date;
    var year = now.getYear();
    if (year < 1900) {
        year = year + 1900;
    }
    document.getElementById("theYear").innerHTML = year;
</script>
<!-- End getYear -->

<!--script src="{{ site.baseurl_root }}/js/vendor/cookies-eu-banner.js"></script-->