<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{{ site.title }}{% if page.title %} | {% t page.title %}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% t site.description %}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% endif %}">
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{% t site.description %}{% endif %}" />
    <meta property="og:image" content="/img/profile_s.png" />

    <link rel="font" href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700">
    <link rel="font" href="https://fonts.googleapis.com/css2?family=Molengo">
    
    <!-- for Carousel -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <!-- for Carousel -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script rel="stylesheet" type="text/javascript" src="/js/main.js"></script>

</head>
