{% for project in site.data.projects-more %}
    {% if project.id == include.content %}
        <div id="{{ project.id }}" class="modal fade">
            <div class="modal-background" onmousemove="cursorShow('cursor-back')" onmouseout="cursorHide('cursor-back')" data-dismiss="modal"></div>
            <div class="modal-project-container container60 Grid Grid--middle">
                <div class="modal-close icon-close icon-hover" data-dismiss="modal"><span></span><span></span></div>
                <!-- Template for other projects -->
                <div class="modal-project-pic" style="background-image: url('{{ site.baseurl_root }}/img/others/modal-{{ project.id }}.jpg');"></div>
                <div class="modal-project-content Grid-column Grid-column--spaceBetween">
                    <div class="title">
                        <div class="Grid">
                            {% assign x = project.tags.size | minus: 1 %}
                            {% for i in (0..x) %}
                                <h6 class="tag">{% t project.tags[i] %}</h6>
                            {% endfor %}
                        </div>
                        <h2>{% t project.summary %}</h2>
                        <div class="hr"></div>
                    </div>
                    <div class="info">
                        {% assign x= project.info.size | minus: 1 %}
                        {% for i in (0..x) %}
                            <div class="Grid">
                                <h5 class="info-title">{% t project.info[i][0] %}</h5>
                                <h5 class="info-text Grid-cell">{% t project.info[i][1] %}</h5>
                            </div>
                        {% endfor %}
                        {% if project.link %}
                            <div class="Grid">
                                <h5 class="info-title">{% t info.more %}</h5>
                                <a class="Grid Grid--middle" href="https://kuanjupan.wixsite.com/kj-pan/{{ more.id }}" target="_blank">
                                    <h5 class="text-hover out" style="text-transform: capitalize; margin-right: 10px;">{% t home.view %} </h5>
                                    <div class="icon-link icon40 icon-hover"></div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}