/* animation.scss */

@media (min-width: $screenM) {
    #title-group {
        @include animation(fade-in 3s ease);
        .white-box {
            @include animation(title-fade-in 5s ease);
        }
    }  
    #sub-title {
        @include animation(fade-in 3s ease 1s);
        .white-box {
            @include animation(subtitle-fade-in 3s ease);
        }
    }
}

@include keyframes(fade-in) {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@include keyframes(title-fade-in) {
    0% { width: 100%; opacity: 1; }
    50% { width: 0%; opacity: 1; }
    100% { width: 0% }
}
@include keyframes(subtitle-fade-in) {
    0% { width: 100%; opacity: 1; }
    30% { width: 100%; }
    100% { width: 0%; opacity: 1; }
}

#icon-menu {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    span {
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background: black;
        opacity: 1;
        left: 8px;
        @include transform(rotate(0deg));
        @include transition(all 0.3s ease-in-out);
    }
    span:nth-child(1) {
        top: 15px;
        @include transform-origin(left center);
    }
    span:nth-child(2) {
        top: 25px;
        @include transform-origin(left center);
    }
    &.open {
        span:nth-child(1) {
            width: 28px;
            top: 10px;
            left: 10px;
            @include transform(rotate(45deg));
        }
        span:nth-child(2) {
            width: 28px;
            top: 30px;
            left: 10px;
            @include transform(rotate(-45deg))
        }
    }
}