/* template.scss
 *
 * Reused elements (% can @extend by SCSS placeholder)
 * Navbar, Footer, etc...
 *
 */

.img-contain, %img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img-cover, %img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* text highlight */
mark, %mark {
  color: inherit;
  padding: 5px 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 65%, $main-color 0%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  @include transition(background-size 0.3s ease);
  &:hover {
    border-bottom: none;
    background-size: 100% 100%;
  }
}

/* cursor */
#follower {
  display: none;
  position: fixed;
  pointer-events: none;
  .cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    color: transparent;
    border-radius: 50%;
    background-color: $main-color;
    opacity: 1;
    @include transform(scale(0.15));
    @include transition(transform 0.3s ease);
  }
  .cursor-web {
    z-index: -999;
    opacity: 0.5;
    @include transform(scale(3));
    background-color: $yumiwi;
  }
  .cursor-app {
    z-index: -999;
    opacity: 0.5;
    @include transform(scale(2.5));
    background-color: $myoncare;
  }
  .cursor-product {
    z-index: -999;
    opacity: 0.5;
    @include transform(scale(3.5));
  }
  .cursor-text {
    z-index: 999;
    opacity: 0.8;
    @include transform(scale(1));
    h6 {
      color: black;
      width: 100%;
      height: 100%;
      text-align: center;
      @extend %Grid, %Grid--center, %Grid--middle;
    }
  }
  .cursor-wave {
    @include transform(scale(1));
    background-color: transparent;
    background-image: url('../img/icon/wave.gif');
    @extend %img-contain;
  }
  @media only screen {
    display: block;
  }
}

/* basic grid */
.container60 {
  width: calc(100% - 40px);
  margin: 0 auto;
  &.extend-left {
    width: 100%;
    margin-left: 0;
  }
  &.extend-right {
    width: 100%;
    margin-right: 0;
  }
  .flex30,
  .flex70-left,
  .flex70-right,
  .flex50 {
    width: 100%;
  }

  @media (min-width: $screenXS) {
    width: calc(100% - 80px);
  }
  @media (min-width: $screenM) {
    width: calc(100% - 160px);
  }
  @media (min-width: $screenL) {
    width: 80%;
    &.extend-left, &.extend-right {
      width: 90%;
    }
    .flex30 { @include flex(0 0 30%); }
    .flex70-left { 
      @include flex(1); 
      padding-right: 100px;
    }
    .flex70-right {
      @include flex(1);
      padding-left: 100px;
    }
    .flex50 {
      @include flex(1);
      padding: 0 50px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
    }
  }
  @media (min-width: $screenXL) {
    width: 70%;
    &.extend-left, &.extend-right {
      width: 85%;
    }
  }
  @media (min-width: $screenXXL) {
  width: 60%;
    &.extend-left, &.extend-right {
      width: 80%;
    }
  }
}
.hr-60 { // hr for container60, left from 0 to right side of container 
  width: 100%;
  @media (min-width: $screenXS) {
    width: calc(100% - 40px);
  }
  @media (min-width: $screenM) {
    width: calc(100% - 80px);
  }
  @media (min-width: $screenL) {
    width: 90%;
  }
  @media (min-width: $screenXL) {
    width: 85%;
  }
  @media (min-width: $screenXXL) {
    width: 80%;
  }
}
/* components */
.dropdown {
  position: relative;
  cursor: pointer;
  .dropdown-content {
    display: none;
    position: absolute;
    padding: 10px 0;
    background-color: $white-90;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 $light-grey-60;
    white-space: nowrap;
    z-index: 1;
    &.text {
      margin: 10px auto 10px -20px;
      img {
        height: 20px;
        margin: 0 0 5px -10px;
      }
      h6 {
        text-transform: none;
      }
    }
    &.icon {
      margin-left: 10px;
    }
    a {
      color: black;
      padding: 10px 20px;
      border-radius: 5px;
      display: block;
    }
    a:hover {
      color: inherit !important;
      border-radius: 5px;
      background-color: $bg-grey;
    }
  }
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
/* tooltips top, right, bottom, left */
/*.tooltip {
  position: relative;
  opacity: 1;
  .tooltip-text {
    text-align: center;
    text-transform: capitalize !important;
    width: 80px; //
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    @include transition(opacity 0.5s ease);
    position: absolute;
    z-index: 1;
    &.bottom {
      top: 100%;
      left: 50%;
      margin-left: -40px;
    }
  }
  &:hover {
    .tooltip-text {
      opacity: 1;
    }
  }
}*/
.text-hover { // underline-in
  display: inline-block;
  margin: 0 20px;
  padding: 10px 0;
  &::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background: black;
    @include transition(width 0.3s ease);
  }
  &:hover::after {
    width: 100%;
  }
  &.active::after {
    width: 100%;
  }
}
.icon-hover {
  border-radius: 5px;
  background-color: transparent;
  @include transition(background-color .3s ease);
  &:hover {
    background-color: $bg-grey;
  }
}
.noscroll { // prevent main-content scroll while menu is opened
  position: fixed;
  overflow: hidden;
}
#nav-logo {
  h2 {
    border-bottom: none;
  }
  h6 {
    margin-left: 2px;
  }
}
#nav, #mobile-nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  @include transition(top 0.3s ease);
}
#nav {
  display: none;
  padding: 15px 0;
  .nav-item {
    cursor: pointer;
  }
  #nav-right {
    display: none;
    .icon-resume {
      margin: 0 10px;
    }
    .icon-lang { 
      margin-left: 10px;
     }
  }
  @media (min-width: $screenS) {
    display: block;
    padding: 15px 0;
    #nav-right { display: flex; }
  }
}
#mobile-nav {
  display: block;
  padding: 10px 0;
  #mobile-menu {
    padding-bottom: 40px;
    background-color: white;
    .menu-item {
      height: 75px;
      margin: 20px 0;
      &:hover {
        padding-left: 10px;
      }
      &.active {
        border-right: 5px solid $main-color;
        padding-left: 0 !important;
        background-color: $lu-yellow-10;
      }
    }
    .menu-item-row {
      margin: 10px;
      border-radius: 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .menu-left {
      height: 100%;
      @include flex(1);
      @extend %img-cover;
      border-radius: 5px;
    }
    .menu-right {
      @include flex(3);
      padding-left: 20px;
    }
    h6 {
      margin: 40px 0 10px 0;
    }
    h5 {
      letter-spacing: 1.2px;
    }
  }
  @media (min-width: $screenS) {
    display: none;
  }
}
.nav-scrollup {
  background-color: white;
  box-shadow: 0px 2px #F9F9F9;
  padding: 5px 0 !important;
  #nav-logo {
    h2 { font-size: 20px !important; }
    h6 { display: none; }
  }
  @media (min-width: $screenS) {
    #nav-logo {
      h2 { font-size: 24px !important; }
      h6 { 
        display: inline-block;
        font-size: 12px !important; 
      }
    }
  }
}
#footer {
  padding: 10px;
  #footer-icons {
    width: 100%;
    padding: 10px 0;
  }
  .footer-web { display: none; }
  .icon-mail { display: flex; }
  @media (min-width: $screenXS) {
    #footer-icons { width: auto; }
    .footer-web { display: flex; }
    .icon-mail { display: none; }
  } 
}