---
layout: default
---
<div id="project">
    {% for project in site.data.projects %}
    {% if project.id == page.id %}
        <div class="project-landing-page container60">
            <img id="project-logo" src="{{ site.baseurl_root }}/img/logo/{{ project.logo }}.svg" />
            <h1>{% t project.summary %}</h1>
        </div>
        <div class="overview-img-container">
            <div class="overview-img" style="background-image: url('{{ site.baseurl_root }}/img/{{ project.id }}/overview.png');"></div>
        </div>

        <div class="block20vh"></div>
        
        <!-- title, text and info -->
        <div class="container60">
            <div class="title Grid">
                <h3 class="flex70-left">{% t project.overview-title %}</h3>
                <div class="flex30"></div>
            </div>
            <div class="text Grid">
                <div class="flex70-left">
                    {% assign x = project.overview-text.size | minus: 1 %}
                    {% for i in (0..x) %}
                        <h4>{% t project.overview-text[i] %}</h4>
                    {% endfor %}
                </div>
                <div class="flex30 project-info">
                    {% assign x= project.info.size | minus: 1 %}
                    {% for i in (0..x) %}
                        <h5 class="info-title">{% t project.info[i][0] %}</h5>
                        <h5 class="info-text">{% t project.info[i][1] %}</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="hr hr-60"></div>

        {{ content }}

        <div class="hr hr-60"></div>

    {% endif %}
{% endfor %}
</div>

<div class="title-more container60">
    <h2 style="margin-bottom: 40px;">{% t home.more %}</h2>
    <div class="projects-container Grid">
        {% for other in site.data.projects %}
            {% if other.id != page.id %}
            <a class="Grid-cell Grid-2 Grid Grid--middle transbox" href="{{ site.baseurl }}/projects/{{ other.id }}.html" style="margin-bottom: 10vh;" onmousemove="cursorShow('cursor-text')" onmouseout="cursorHide('cursor-text')">
                <div class="project-hover Grid-column Grid-column--middle">
                    <img id="project-logo" src="{{ site.baseurl_root }}/img/logo/{{ other.logo }}.svg" />
                    <h4>{% t other.summary %}</h4>
                </div>
                <img class="project-img" src="{{ site.baseurl_root }}/img/{{ other.id }}/project-{{ other.id }}-mobile.jpg" />
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>